{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price
-%}

{% if compare_at_price > price and product.quantity_price_breaks_configured? != true %}
  {%- unless product.price_varies == false and product.compare_at_price_varies %}
    <div>
      On Sale {{ compare_at_price }}
      {{ price }}
    </div>
  {%- endunless -%}
{% endif %}
