{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price
  assign available = target.available
-%}

<div
  id="{{ target.id }}"
>
  {%- if compare_at_price > price and available -%}
    On Sale!
  {%- endif -%}
</div>
