{%- liquid
  if use_variant
    assign target = product.selected_or_first_available_variant
  else
    assign target = product
  endif

  assign compare_at_price = target.compare_at_price
  assign price = target.price
  assign available = target.available
-%}

<div
  class="
    price
    {%- if compare_at_price > price %} price--on-sale{% endif -%}
  "
>
  <div class="price__container">
    {%- if compare_at_price > price -%}
      <div>On Sale</div>
    {%- endif -%}
  </div>
</div>
